Repository natelandau/cookiecutter-python, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, devcontainer, configuration, documentation, dependencies, template

.github/labeler.yml:

---
github_actions:
    - ".github/**"
devcontainer:
    - ".devcontainer/**"
configuration:
    - ".*"
    - "*.js"
    - "*.json"
    - "*.toml"
    - "*.yaml"
    - "*.yml"
documentation:
    - "**.md"
    - "docs/**"
    - LICENSE
dependencies:
    - "*.lock"
template:
    - "{{**/**"

fix: import tomlib in python <= 3.10
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/_config/config.py
Labels: template

feat(tests): add `remove_ansi` function
  {{ cookiecutter.__package_name_kebab_case }}/tests/helpers.py
Labels: template

build(deps): update dependencies
  poetry.lock
  pyproject.toml
Labels: configuration, dependencies

fix: update dependencies
  {{ cookiecutter.__package_name_kebab_case }}/.pre-commit-config.yaml
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
Labels: template

build: bumps deps
  .pre-commit-config.yaml
  poetry.lock
Labels: configuration, dependencies

fix(deps): bumps deps
  {{ cookiecutter.__package_name_kebab_case }}/.pre-commit-config.yaml
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
Labels: template

fix: refactor src directory
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/_config/__init__.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/_utils/__init__.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/cli.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/config/__init__.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/config/config.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/config/default_config.toml
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/utils/__init__.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/utils/alerts.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/utils/console.py
  {{ cookiecutter.__package_name_kebab_case }}/tests/alerts_test.py
Labels: template

fix: update release workflow
  .github/workflows/commit-linter.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/automated-tests.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/create-release.yml
Labels: github_actions, template

feat: add codecov configuration
  {{ cookiecutter.__package_name_kebab_case }}/codecov.yml
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/config/config.py
  {{ cookiecutter.__package_name_kebab_case }}/tests/helpers.py
Labels: template

feat: add tests for Config class
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/cli.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/config/config.py
  {{ cookiecutter.__package_name_kebab_case }}/tests/config_test.py
Labels: template

fix: minor updates
  {{ cookiecutter.__package_name_kebab_case }}/.devcontainer/post-install.sh
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/automated-tests.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/create-release.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/pr-linter.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/pypi-release.yml
  {{ cookiecutter.__package_name_kebab_case }}/.pre-commit-config.yaml
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
Labels: template

fix(ruff): add additional checks
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
Labels: template

fix: add additional ruff lint rules
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/cli.py
Labels: template

feat: add script to bump dependencies
  poetry.lock
  pyproject.toml
  {{ cookiecutter.__package_name_kebab_case }}/.pre-commit-config.yaml
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
  {{ cookiecutter.__package_name_kebab_case }}/scripts/update_dependencies.py
Labels: configuration, dependencies, template

fix(alerts): usage width based on console width
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/utils/alerts.py
  {{ cookiecutter.__package_name_kebab_case }}/tests/alerts_test.py
Labels: template

fix: improve update script
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
  {{ cookiecutter.__package_name_kebab_case }}/scripts/update_dependencies.py
Labels: template

fix: cleanup tests
  {{ cookiecutter.__package_name_kebab_case }}/tests/alerts_test.py
Labels: template

fix: bump dependencies
  {{ cookiecutter.__package_name_kebab_case }}/.pre-commit-config.yaml
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
Labels: template

fix: pass linting
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/cli.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/config/config.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/utils/__init__.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/utils/alerts.py
  {{ cookiecutter.__package_name_kebab_case }}/tests/config_test.py
Labels: template

fix(ci): update harden security runner to v2.*
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/automated-tests.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/commit-linter.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/create-release.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/devcontainer-checker.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/labeler.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/pr-linter.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/pypi-release.yml
Labels: template

build(deps): bump dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: configuration, dependencies

fix(deps): bump dependencies
  {{ cookiecutter.__package_name_kebab_case }}/.pre-commit-config.yaml
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
Labels: template

ci: update harden security runner
  .github/workflows/commit-linter.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-linter.yml
Labels: github_actions

fix(ci): fix github workflows
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/automated-tests.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/create-release.yml
Labels: template

fix(deps): bump dependencies
  {{ cookiecutter.__package_name_kebab_case }}/.pre-commit-config.yaml
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
Labels: template

build(deps): bump dependencies
  .pre-commit-config.yaml
  poetry.lock
Labels: configuration, dependencies

fix(deps): bump dependencies
  {{ cookiecutter.__package_name_kebab_case }}/.pre-commit-config.yaml
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
Labels: template

fix(deps): update dependencies
  .github/workflows/commit-linter.yml
  .github/workflows/cruft-test.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  {{ cookiecutter.__package_name_kebab_case }}/.github/actions/setup-poetry/action.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/automated-tests.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/commit-linter.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/create-release.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/devcontainer-checker.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/pypi-release.yml
  {{ cookiecutter.__package_name_kebab_case }}/.pre-commit-config.yaml
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
Labels: github_actions, configuration, dependencies, template

fix: remove depreciated shell scripts
  {{ cookiecutter.__package_name_kebab_case }}/scripts/pre-commit-hook.sh
  {{ cookiecutter.__package_name_kebab_case }}/scripts/update_dependencies.py
Labels: template

fix: fix variables in github actions
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/automated-tests.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/pypi-release.yml
Labels: template

fix: remove duplication package
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
Labels: template

fix: replace black with ruff format
  {{ cookiecutter.__package_name_kebab_case }}/.pre-commit-config.yaml
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
Labels: template

fix: remove development container
  {{ cookiecutter.__package_name_kebab_case }}/.devcontainer/Dockerfile
  {{ cookiecutter.__package_name_kebab_case }}/.devcontainer/devcontainer.json
  {{ cookiecutter.__package_name_kebab_case }}/.devcontainer/post-install.sh
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/automated-tests.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/create-release.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/devcontainer-checker.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/labeler.yml
  {{ cookiecutter.__package_name_kebab_case }}/.github/workflows/pypi-release.yml
  {{ cookiecutter.__package_name_kebab_case }}/README.md
Labels: template

fix: update pytest configuration
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
Labels: template

feat: update logging
  .pre-commit-config.yaml
  poetry.lock
  {{ cookiecutter.__package_name_kebab_case }}/pyproject.toml
  {{ cookiecutter.__package_name_kebab_case }}/src/constants.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/cli.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/config/config.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/utils/__init__.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/utils/alerts.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/utils/console.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/utils/errors.py
  {{ cookiecutter.__package_name_kebab_case }}/tests/alerts_test.py
  {{ cookiecutter.__package_name_kebab_case }}/tests/cli_test.py
  {{ cookiecutter.__package_name_kebab_case }}/tests/config_test.py
Labels: configuration, dependencies, template

fix: use typer's `app_dir` for configuration
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/cli.py
  {{ cookiecutter.__package_name_kebab_case }}/src/{{ cookiecutter.__package_name_snake_case }}/config/config.py
Labels: template
